.account_box{
    width: 100%;
  
    padding: 15px;
    
}
.heading{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    border-bottom: solid 1px #e0e0e0;
    padding: 10px 0;
    
    margin: 0;
    letter-spacing: 2px;
}
.account_detail,.personal_detail,.loaction_detail{
    width: 85%;
    margin: auto ;
    padding: 20px 10px;

}
.head{
    text-align: left;
    border-bottom: 1px solid brown;
    font-size: 22px;
    padding: 4px 0;
    color: brown;
}
.input_ele{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
    margin-top: 10px;
    /* border: 3px solid brown; */

}
.input_ele p{
    font-size: 17px;    
}
.input_ele>input{
    font-size: 18px;
    
    width: 300px;  
    height: 40px; 
    padding-left: 15px; 
    border: 1px solid black;
   
       
}
.input_ele select{
    width: 320px;
    height: 40px;
    border: 1px solid black;
    margin-left: 16%;

}
.update_btn_box{
    width: 150px;
    height: 40px;
    margin: auto;
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 50px;
}
.update_btn_box button{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 15px;
    letter-spacing: 2px;
    font: bold;
    background-color: rgb(129, 210, 168);
}


@media (max-width: 900px){
    .heading{
       padding-top: 20px;
    }
    .input_ele{
        width: 90%;
        
    }
    .input_ele input{
        width: 200px;
        height: 30px;
        font-size: 16px;
        width: 70%;    
    }
    .input_ele select{
        width: 200px;
        height: 40px;
    }
    .location_desp{
        font-size: 10px;
    }
}