.activelink {
    background:  #00BE2D;
    color: white;
    scale: 0.5;
}

.activelink>.links {
    color: white;
}

.links {
    transition: all 300ms;
}

.links:hover {
    scale: 1;
    background: #00BE2D;
    color: white;
}