.upi_heading{
    width: 100%;
    height: 85px;
    margin: 0 10px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    
}

.upi_heading >div{
    margin: 15px;
}
.upi_heading img{
    width: 42px;
}
.upi_heading >:nth-child(1) p~p{
   
    margin-top: -13px;
}
.upi_content_head{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #1f1f1f;
}
.upiPayment{
    width: 100%;
    height: 59px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid gray;
    margin-top: 10px;
}
.upiPayment img{
    width: 50px;
}
.upiIDSubmmit{
    width: 100%;
    height: auto;
    margin: 5   px 5px;
    

    /* border: 1px solid red; */
}
.upiID{
 width: 200px;
 height: 50px;
}
.upiIDSubmmit input::placeholder{
    font-size: 17px;
    
}
.upiIDSubmmit input[type="text"]{
    width: 50%;
    font-size: 17px;
    padding-left: 20px;
    margin-left: 10px;
    /* border: 2px solid brown ; */
    margin-top: 10px;
    
}
.upiIDSubmmit button{
    width: 30%;
    /* border: 2px solid brown ; */
    font-size: 15px;
    height: 55px;
    margin-left: 10px;
    margin-top: -10px;
}
@media (max-width: 1100px){
 
  
  
    
  }
  
  
  @media (max-width: 968px) {
    /* CSS rules for devices with a screen width of 968px or less */
   
    
    
  }
  
  
  @media (max-width: 768px){
    .upiIDSubmmit{
        margin: auto;
        padding-left: 1%;
    }
    .upiIDSubmmit{
        height: auto;
        margin: 10px 0;
        
    }
    .upiIDSubmmit input[type="text"]{
        display: block;
        width: 80%; 
    }
    .upiIDSubmmit button{
        width: 90%;
        margin-top: 10px;
    }
   
  }
  @media (max-width: 568px){
    .upiIDSubmmit{
        height: auto;
        margin: 10px 0;
        
    }
    .upiIDSubmmit input[type="text"]{
        display: block;
        width: 80%; 
    }
    .upiIDSubmmit button{
        width: 90%;
        margin-top: 10px;
    }
  }
  @media (max-width: 468px){
   .upi_heading{
    height: auto;
   }
    .upi_content_head{
        font-size: 16px;
        font-weight: 500;
       
    }
    .upiIDSubmmit{
        height: auto;
        margin: 10px 0;
        
    }
    .upiIDSubmmit input[type="text"]{
        display: block;
        width: 80%; 
    }
    .upiIDSubmmit button{
        width: 90%;
        margin-top: 10px;
    }
  }