.navv {
    position: sticky;
    top: 0;
    width: 100%;
    height: fit-content;
    z-index: 1;
    display: flex;
    gap: 10px;
    justify-content: space-between;
text-align: center;
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(15, 6, 23);
    /* margin-bottom: 20px; */
    /* background-color: rgb(15,6,23); */
    /* Animation */
    transition-timing-function: ease-in;
    transition: all 0.5s;
    /* border-bottom: 0.5px solid white; */
    align-items: center;
}

.navv >div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border: 2px solid red; */
    /* margin-bottom: 10px; */
}

.imgg {
    width: 150px;
    height: 40px;
    margin-right: 20px;
    /* margin-top: 15px; */
    /* border: 2px solid red; */
}

.right_menu{
    /* border: 2px solid red; */
    display: flex;
    gap: 30px;
    padding-right: 20px;
    align-items: center;
}

.host-btn{
border-radius: 50%;
}







.admin-button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(15, 6, 23);
    color: white;
    border: 1px solid white;
    font-weight: 200;
    margin-left: 10px;
    font-size: 12px;
}

.admin-button:hover {
    background-color: #00BE2D;
    color: white;
}

.login-button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(15, 6, 23);
    color: white;
    border: 1px solid white;
    font-weight: 200;
    font-size: 12px;
    margin-left: 10px;
}

.login-button:hover {
    background-color: #00BE2D;
    color: white;
}







.hum-link a p:hover {
    border-bottom: 2px solid white;
    padding-bottom: 3px;
}


@media screen and (max-width: 1080px) {
    .navv {
        display: flex;
        padding: 10px 25px;
        gap: 5px;
        z-index: 1;
        align-items: center;
        justify-content: space-between;
    }

    .search-result {
        display: none;
    }

    .navv-links {
        display: none;
    }

    .imgg {

        width: 80px;
        height: 40px;
        margin-top: 15px;
        z-index: 1;
        justify-items: left;
        align-items: flex-start;
    }

    .hum {
        margin-top: 10px;
    }

    .login-button:hover {
        background-color: white;
        color: black;
    }

    .input-div {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .navv {
        display: flex;
        padding: 10px 20px;
        gap: 5px;
        z-index: 1;
        align-items: center;
        justify-content: space-between;

    }


    .imgg {

        width: 150px;
        height: 40px;
        margin-top: 15px;
        z-index: 1;
        justify-items: left;
        align-items: flex-start;
    }

    .right_menu>Button{
        display: none;
    }

    .hum-link a p:hover {
        border-bottom: 2px solid white;
        padding-bottom: 3px;
    }

    .hum {
        margin-top: 10px;
    }


    .login-button:hover {
        background-color: white;
        color: black;
    }

    .input-div {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .navv {
        display: flex;
        padding: 10px 20px;
        gap: 5px;
        z-index: 1;
        align-items: center;
        justify-content: space-between;

    }


    .imgg {

        width: 130px;
        height: 40px;
        /* margin-top: 15px; */
        z-index: 1;
        /* justify-items: left; */
        align-items:center;
    }

    .right_menu>Button{
        display: none;
    }

    .hum-link a p:hover {
        border-bottom: 2px solid white;
        padding-bottom: 3px;
    }

    .hum {
        margin-top: 10px;

    }

    .navv-linkss .NavbarSecondPartV-Lan {
        display: none;
    }

    .navv-linkss .admin-button {
        display: none;
    }

    .navv-linkss .buy-button {
        display: none;
    }

    .navv-linkss .login-button {
        padding: 5px 5px;
        border-radius: 5px;
        background-color: rgb(15, 6, 23);
        color: white;
        border: 1px solid white;
        font-weight: 200;
        font-size: 10px;
        /* margin-left: 5px; */
        width: 50px;
        align-items: center;
    }

    .login-button:hover {
        background-color: white;
        color: black;
    }

    .input-div {
        display: none;
    }
}

